<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Counter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.4.0/css/bootstrap.min.css" />
    <link href="/css/counter-style.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/counter.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://projects.spring.io/spring-boot/">Spring Boot</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/counter">Counter</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container vertical-center text-center" id="main">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="inputFirst">First number</label>
                <input type="number" class="form-control" id="inputFirst" placeholder="First number">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputSecond">Second number</label>
                <input type="number" class="form-control" id="inputSecond" placeholder="Second number">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <div class="form-group btn" id="result">&nbsp;</div>
        </form>
    </div>
</body>
</html>